.fill-report-button{
    background-color: #85929E ;
    color: white;
    width: 40%;
    height: 30px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    display: block;
    padding: 3px;
    margin: 30px auto auto auto;
}
 
.text-report-btn{
    margin: 5px;

}
