.fill-report-view-button {
    background-color: #FF8C00;
    color: white;
    width: 40%;
    height: 30px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    display: flex; /* Menjadikan flex container */
    justify-content: center; /* Mengatur konten ke tengah secara horizontal */
    align-items: center; /* Mengatur konten ke tengah secara vertikal */
    padding: 10px;
    margin: 40px auto;
}

.text-report-btn {
    margin: 10px;
}

.text-report-btn h2 {
    align-items: center;
    margin: 0; /* Atur margin 0 agar tidak ada margin di dalam tombol */
}
