.assignment-box{
    color: gray;
    border: 2px solid #ccc;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    padding-left: 50px;
    width: 50%;
    height: auto;
    

}

.icon-book{
    width: 50%;
    
}


.text-after{
    display: block;
}


