.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Untuk memastikan elemen berada dalam satu baris */
}

.box-menu {
  max-width: 100%;
  width: 200px; /* Atur lebar tetap */
  height: 120px;
  background-color: #FF8C00;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  display: flex; /* Menjadikan kontainer flex */
  align-items: center; /* Mengatur vertikal align ke center */
  justify-content: center; /* Mengatur horizontal align ke center */
  margin: 10px;
}

.sidebar-and-content {
  display: flex;
}

.school-pict {
  width: 100%; /* Mengisi lebar parent container */
  height: auto; /* Menjaga rasio aspek */
  max-width: 100%; /* Memastikan gambar tidak melebihi lebar parent */
  display: block; /* Agar gambar tidak memiliki space ekstra di bawahnya */
  margin-left: 10px;
}

.no-underline {
  text-decoration: none;
  color: white;
}

.content-wrapper {
  margin-left: 300px;
}

