.content-wrapper-teach{
    
    margin: 300px 300px 100px 300px;
    
}
.box-wrapper{
    display: flex;
    align-items: center;
}

.content-wrapper-teach h2{
    margin-left: 10px;
    font-size: 22px;
    font-weight: normal;
    
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Untuk memberi jarak antar elemen */
    gap: 20px; /* Atur jarak antar box sesuai kebutuhan */
  }
  
  .flex-item {
    flex: 1;
  }
  