.login-wrapper {
    width: 800px;
    background: white;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 50px;
    

}

.wrapper h1{
    font-size: 20px;
    text-align: left;
    color: gray;
    padding-bottom: 5px;

}

/*header website*/
.header{
    background: #FF8C00;
    width: 100%;
    height: 80px;
    color: white;
    font-family: 'Poppins', 'Arial';
    display: flex;
    flex-direction: row;
}

.header h2{
    padding-top: 20px;
    padding-left: 30px;

}

.logo{
    padding: 30px 0px 10px 40px;
    margin-left: 200px;
    align-item: center;
}

.input-box{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    font-size: 16px;
    width: 80%;
    box-sizing: border-box;
    margin: 3px 0px 3px 5px;
    display: flex;
    flex-direction: column;
}

.main-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr; /* dua kolom yang sama lebar */
  grid-gap: 20px; /* Atur jarak antara kolom-kolom */
  
}

.login-button{
    background: orange;
    border: 1px solid #ccc;
    height: 50px;
    width: 80%;
    margin-top: 8px;
    border-radius: 5px;
}

.wrapper-2{
    width: 800px;
    background: white;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 50px;


}

.icon{
    width: 20%;
    color: gray;
    margin-right: 10px;

}