* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    padding: 0 10vw;
    width: 100%;
}

input{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}